.main-user {
    display: flex;
    color: white;
    font-family:'poppins sans-serif';
}

.nav-container {
    border-right: 2px solid white;
    height: 100vh;
    width: 25vw;
    background-color: #031E31;

}

.body-container {
    height: 100vh;
    width: 75vw;
    color: black;
    background-color:#1e293b;
    /* background-color: #363030; */

}
/* In your CSS file (or a styled-components file) */

/* .parent {
 width: 100vw;
 height: 100vh;
} */
.btn{
    width: 100%;
}

.nav-container, .user-info{
    display: grid;
    grid-gap: 1rem;
}
