* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
 
}

.main {
  width: 100vw;
  height: 100vh;

}

/* .main .bg img {
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;

} */

.bg{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* margin-left: -6.5rem; */
  width: 100vw;
  height: auto;
  filter: drop-shadow(5px 5px 10px #555);
}

.youtube{
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to right, #00093c, #2d0b00);

  height: 5rem;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  /* padding: auto 10rem; */
  /* display: grid; */
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;


}

.logo {
  display: grid;
  grid-column: 2/3;
  /* background-color: antiquewhite; */
  justify-content: start;
  align-items: center;
}

.logo h2 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color:rgb(69, 57, 248);
  /* background: -webkit-linear-gradient(#cac1c1, rgb(69, 57, 248)); */
  /* -webkit-text-fill-color: transparent; */
}

.logo h2 span {
  font-size: 3.5rem;
}

.navbar {
  grid-column: 3/4;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
}

.navbar ul li {
  list-style-type: none;
  margin-left: 2rem;
  text-decoration: none;
  opacity: 1;
}

.navbar ul li Link {
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}

.navbar ul li:hover>Link {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}

/* signup page */

.register {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  background: black;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(199, 195, 195, 0);
}

.register .input-box {
  position: relative;
  width: 380px;
  /* height: 420px; */
  background: linear-gradient(to right, #00093c, #2d0b00);
  border-radius: 8px;
  box-shadow: 2px 2px 3px;

}


.register .input-box {
  position: relative;
  inset: 4px;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;

}

/* .register Input {
  padding: 1rem;
  min-width: 25em;
  border-radius: 9px;
} */


.register,
.input-box h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

.register Form .input-box,
.input {
  position: relative;
  width: 450px;
  /* margin-top: 35px; */
}

.register From .input-box,
.input {
  position: relative;
  width: 100%;
  padding: 10px 10px 10px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}


.register From .input-box,
.input span {
  position: absolute;
  left: 0;
  /* padding: 20px 10px 10px; */
  pointer-events: none;
  color: #fff;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.05s;
}


/* .register,.input-box ,.input:valid ~ span,
.register, .input-box ,.input:focus ~ span{
  color: #fff;
} */
.btn-primary {
  width: 100% !important;
  margin: auto;
}

.header .logo {
  width: 50%;
}

@media(max-width:1080px) {
  .header {
    height: 8rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .logo,
  .navbar ul {
    height: 8rem;
  }

}

@media(max-width:998px) {
  .header {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .navbar {
    display: none;
  }

  .logo {
    height: 7rem;
  }

}
/* a{
  color: rgb(255, 232, 232);
  background: linear-gradient(rgb(82, 8, 82),rgb(231, 32, 65) rgb(78, 4, 131));
} */